.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
