.container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.main-container {
  display: flex;
  flex: 1; 
}

.main-content {
  flex: 1; 
}    

.sidebar {
  width: 18%;
  height: 100%;
  background-color: white; 
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1); 
  flex: 0 0 250px;
}

.hr-custom {
  border: 1.5px solid gray;
  width: 100%;
}

.footer {
  margin-top: auto; 
}